{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="m-l">Menu</h1>
<!--Begin col-->
<div class='f'>
    <div class="column xx">
        <h4 class="mm">Main Course</h4>
        {% for item in menu.menu %}
        <p>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
                </a>
            <span class="menu-price">
                ${{ item.price }}.00
            </span>
        </p>
        {% endfor %}
    </div>
    <div class="column xx">
        <h4>Appetizers</h4>
        {% for item in menu_1.menu %}
        <p>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
                </a>
            <span class="menu-price">
                ${{ item.price }}.00
            </span>
        </p>
        {% endfor %}
    </div>
    <div class="column xx">
        <h4>Desserts</h4>
        {% for item in menu_2.menu %}
        <p>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
                </a>
            <span class="menu-price">
                ${{ item.price }}.00
            </span>
        </p>
        {% endfor %}
    </div>
    <div class="column xx">
        <h4>Juices</h4>
        {% for item in menu_3.menu %}
        <p>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
                </a>
            <span class="menu-price">
                ${{ item.price }}.00
            </span>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}