.next{
    display: flex;
    justify-content: center;
    
}

.lh,.rh{
    background-color: green;
    color: white;
    border: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);
}



.rh{
    margin-right: 50px;
}

.lh{
    margin-left: 630px;
}

.ly{
    margin-left: 70px;
    background-color: blueviolet;
    color: white;
    border: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);
}

.add_to_order,.remove_from_order{
    box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);
    color: rgb(215, 214, 213);
    font-weight: 200;
}

.ly:hover,.lh:hover,.rh:hover,.add_to_order:hover,.remove_from_order:hover{
    box-shadow: none;
}

.index-2{
    z-index:1;
    position: absolute;
    width: 35px;
    height: 30px;
    background-color: rgb(26, 25, 25);
    color: rgb(228, 225, 225);
    right: 0px;
    top: 0px;
    padding-top: 7px;
    font-size: 18px;
}

.index-1{
    z-index: -1;
    position: relative;
}

.rel{
    margin-left: 30px;
    height: 40px;
    z-index: -1;
    position: relative;
    margin-bottom: 20px;

}

.icon{
    font-size: 27px;
    margin-top: 18px;
}

.item_no{
    position: absolute;
    top:-4px;
    right:8px;
    z-index: 2;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
